:host {
    .no-project-account {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 0;

        form {
            display: flex;
            gap: 5px;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
        }

    }

    .available-amount {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}