:host {
    max-width: 850px;
    margin: 0 auto;
    display: block;

    .heading {
        text-align: center;
        margin: 25px 0;

        .title {
            font-family: "Sentient-Variable";
            font-size: large;
        }
    }

    .back-btn {
        all: unset;
        cursor: pointer;
        border-radius: 50%;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 5px;

        &:hover {
            background-color: rgba(128, 128, 128, 0.075);
        }
    }

    default-page {
        .preview {
            display: flex;
            flex-direction: column;
            margin-bottom: 25px;
        }

        .category-form {
            display: flex;
            flex-direction: column;

            label {
                font-family: "Sentient-Variable";
                margin-bottom: 5px;
            }

            .name {
                display: flex;
                flex-direction: column;

                input {
                    padding: 10px;
                    border-radius: 8px;
                    font-family: "Switzer-Variable";
                    border: unset;
                    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
                        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
                }
            }

            .colors-container {
                display: flex;
                flex-direction: column;
                padding: 20px 0;
            }

            .colors {
                display: flex;
                flex-wrap: nowrap;
                display: flex;

                .color {
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    cursor: pointer;

                    &:not(:first-child) {
                        margin-left: 5px;
                    }
                }

                .selected-color {
                    border: 2px solid rgb(188, 188, 188);
                }
            }

            .icons-container {
                display: flex;
                flex-direction: column;

                .icons {
                    display: flex;
                    flex-wrap: wrap;
                    font-size: 24px;
                    gap: 5px;

                    .icon {
                        cursor: pointer;
                        border-radius: 50%;
                        width: 35px;
                        height: 35px;
                        display: flex;
                        justify-content: center;
                        border: 2px solid rgba(255, 0, 0, 0);
                        background-color: rgb(205, 205, 205);
                        align-items: center;
                    }

                    .selected-icon {
                        border: 2px solid rgb(188, 188, 188);
                    }
                }
            }
        }

        .actions {
            display: flex;
            align-items: center;
            justify-content: space-between;

            button {
                all: unset;
                padding: 10px;
                border-radius: 8px;
                box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
                    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
                width: fit-content;
                margin-top: 25px;
                cursor: pointer;
                display: flex;
                align-items: center;

                img {
                    margin-right: 5px;
                }

                &:not(:first-child) {
                    margin-left: 5px;
                }
            }
        }

        .delete {
            background-color: rgb(224, 68, 68) !important;
            color: white !important;
        }

        alert {
            margin-top: 20px;
        }
    }
}
