<default-page
    [title]="editionMode ? 'Edit a category' : 'Create a new category'"
    goBackPathUrl="/"
>
    <div class="preview">
        <category-item
            [color]="selectedColor"
            [icon]="selectedIcon"
            [name]="nameModel ? nameModel : '\<new category>'"
        ></category-item>
    </div>
    <form
        (submit)="editionMode ? editCategory() : createCategory()"
        class="category-form"
    >
        <div class="name">
            <label for="name">Name</label>
            <input
                autofocus
                [(ngModel)]="nameModel"
                type="text"
                name="name"
                id="name"
            />
        </div>
        <div class="colors-container">
            <label>Color</label>
            <div class="colors">
                @for (color of availableColors; track $index) {
                <div
                    (click)="this.selectedColor = color"
                    [ngClass]="color === selectedColor ? 'selected-color' : ''"
                    [ngStyle]="{ 'background-color': color }"
                    class="color"
                ></div>
                }
            </div>
        </div>
        <div class="icons-container">
            <label>Icon</label>
            <div class="icons">
                @for (icon of availableIcons; track $index) {
                <div
                    (click)="this.selectedIcon = icon"
                    [ngClass]="icon === selectedIcon ? 'selected-icon' : ''"
                    class="icon"
                >
                    <img
                        width="20"
                        src="assets/category_icons/{{ icon }}.fill.svg"
                        alt="{{ icon }}"
                    />
                </div>
                }
            </div>
        </div>
        <div class="actions">
            <button type="submit" class="submit">Save</button>
            @if (editionMode) {
            <button (click)="deleteCategory()" class="delete">
                <img width="20" src="assets/icons/delete.svg" alt="delete" />
                Delete
            </button>
            }
        </div>
        @if (sendError) {
        <alert [message]="sendError" [type]="'error'"></alert>
        }
    </form>
</default-page>
