<div class="container">
    <div class="heading">
        <span class="title">Filter</span>
    </div>
    <div class="content">
        <div class="filter">
            <span>Account</span>
            <select name="account" id="account">
                <option value=""></option>
                @for (account of accounts$ | async; track $index) {
                    <option [selected]="selectedAccount() == account.id" [value]="account.id">{{ account.name }}</option>
                }
            </select>
        </div>
        <div class="filter">
            <span>Category</span>
            <select name="category" id="category">
                <option value=""></option>
                @for (category of categories$ | async; track $index) {
                    <option [value]="category.id">{{ category.name }}</option>
                }
            </select>
        </div>
        <div class="filter">
            <span>Amount</span>
            <div class="multiple-fields">
                <select name="amount" id="amount">
                    <option [selected]="greaterOrLessThan() == '>'" value=">">Greater than</option>
                    <option [selected]="greaterOrLessThan() == '<'" value="<">Smaller than</option>
                </select>
                <input [value]="amount()" placeholder="Amount" class="classic-input" type="text">
            </div>
        </div>
        <div class="filter">
            <span>Date</span>
            <input class="classic-input" type="date">
        </div>
    </div>
</div>