<default-page [title]="editionMode ? 'Edit a transaction' : 'Add one or many transactions'" goBackPathUrl="/">
    <div class="types">
        <div
            (click)="type = 'expense'"
            [ngClass]="type === 'expense' ? '' : 'unselected-left'"
            class="type"
        >
            Expense
        </div>
        <div
            (click)="type = 'income'"
            [ngClass]="type === 'income' ? '' : 'unselected-right'"
            class="type"
        >
            Income
        </div>
    </div>
    <div class="box-wrapper">
        <form (submit)="editionMode ? edit() : save(true)" [formGroup]="createTransactionForm">
            <div class="form-group">
                <div class="form-element">
                    <label for="how-much">Amount</label>
                    <div class="input-container amount-container">
                        <span class="currency">CHF</span>
                        <input
                            class="amount-input"
                            formControlName="amount"
                            type="number"
                            name="how-much"
                            id="how-much"
                        />
                    </div>
                </div>
                <div class="form-element">
                    <label for="how-much">Description</label>
                    <div class="input-container">
                        <input
                            class="description-input"
                            formControlName="description"
                            type="text"
                            name="what"
                            id="what"
                        />
                    </div>
                </div>
            </div>
            <div class="form-element">
                <label>Category</label>
                <div class="categories">
                    @for (category of categories; track $index) {
                    <category-item
                        [name]="category.name"
                        [icon]="category.icon"
                        [color]="category.color"
                        (click)="selectedCategory = category"
                        [ngClass]="
                            category === selectedCategory ? 'selected' : ''
                        "
                    ></category-item>
                    }
                </div>
            </div>
            <div class="form-element">
                <label for="how-much">Date</label>
                <input
                    formControlName="date"
                    type="date"
                    name="date"
                    id="date"
                />
            </div>
            <div class="actions">
                <div class="btn-wrapper">
                    <button class="main-btn" class="main-btn" type="submit">
                        Save & close
                    </button>
                    @if (!editionMode) {
                        <button
                            type="button"
                            (click)="save(false)"
                            class="secondary-btn"
                        >
                            Save and keep adding
                        </button>
                    }
                </div>
                <div>
                    @if (editionMode) {
                        <button (click)="deleteTransaction()" class="main-btn delete">
                            <img width="20" src="assets/icons/delete.svg" alt="delete" />
                            Delete
                        </button>
                    }
                </div>
            </div>
        </form>
    </div>
</default-page>
