:host {
    default-page {
        ::ng-deep.box {
            padding: 0 !important;
        }

        .types {
            display: flex;

            .type {
                padding: 10px 0;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
            }

            .unselected-left {
                background-color: rgb(245, 245, 237);
                border-radius: 8px 0 8px 0;

                &:hover {
                    cursor: pointer;
                }
            }

            .unselected-right {
                background-color: rgb(245, 245, 237);
                border-radius: 0 8px 0 8px;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .box-wrapper {
            padding: 20px;
        }

        form {
            display: flex;
            flex-direction: column;

            label {
                font-family: "Sentient-Variable";
                margin-bottom: 5px;
                display: block;
            }

            input {
                padding: 10px;
                border-radius: 8px;
                font-family: "Switzer-Variable";
                font-size: 16px;
                border: unset;
                box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
                    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
                width: 150px;
            }

            .form-group {
                display: flex;
                align-items: center;

                .form-element {
                    margin-top: 0 !important;

                    &:not(:first-child) {
                        margin-left: 10px;
                        width: 100%;
                    }
                }

                .amount-container {
                    position: relative;

                    .amount-input {
                        text-indent: 40px;
                    }

                    .currency {
                        color: grey;
                        position: absolute;
                        bottom: 10px;
                        left: 10px;
                    }
                }

                .description-input {
                    width: 100%;
                }
            }

            .form-element {
                &:not(:first-child) {
                    margin-top: 20px;
                }
            }

            .categories {
                display: flex;
                flex-wrap: wrap;
                gap: 5px;

                category-item {
                    border: 3px solid rgba(255, 255, 255, 0);
                    transition: 0.1s;

                    &:hover {
                        transform: scale(1.02);
                        opacity: 0.9;
                    }

                    ::ng-deep.category {
                        flex-direction: row;
                        width: 150px;
                        align-items: center;
                        height: 40px;
                        cursor: pointer;

                        .icon {
                            margin-right: 5px;
                        }
                    }
                }

                .selected {
                    border: 3px solid rgb(193, 193, 193);
                    border-radius: 10px;
                }
            }

            .actions {
                display: flex;
                justify-content: space-between;
                margin-top: 20px;
                width: 100%;

                .btn-wrapper {
                    display: flex;
                    align-items: center;
                }

                .delete {
                    background-color: rgb(224, 68, 68) !important;
                    color: white !important;
                }

                .main-btn {
                    all: unset;
                    padding: 10px;
                    border-radius: 8px;
                    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
                        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
                    width: fit-content;
                    cursor: pointer;
                    display: flex;
                    align-items: center;

                    img {
                        margin-right: 5px;
                    }

                    &:not(:first-child) {
                        margin-left: 5px;
                    }

                    &:hover {
                        background-color: rgb(250, 250, 250);
                    }
                }

                .secondary-btn {
                    all: unset;
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    border-radius: 8px;
                    margin-left: 5px;

                    &:hover {
                        background-color: rgb(250, 250, 250);
                    }
                }
            }
        }
    }
}
