<div class="top-bar">
    <div class="filter">{{ month }} 2024</div>
    <div class="profile">
        <button class="profile-btn">
            <img
                width="50px"
                height="50px"
                src="assets/default_pp.png"
                alt="pp"
            />
        </button>
        <div class="menu" role="menu">
            <ul>
                <li class="button list-item">
                    <img
                        width="20px"
                        height="20px"
                        src="assets/icons/cog.svg"
                        alt="cog"
                    />
                    Settings
                </li>
                <li class="button list-item">
                    <img
                        width="20px"
                        height="20px"
                        src="assets/icons/moon.svg"
                        alt="moon"
                    />
                    Theme
                </li>
                <li class="seperation"></li>
                <li class="button list-item" (mousedown)="logout()">
                    <img
                        width="20px"
                        height="20px"
                        src="assets/icons/out.svg"
                        alt="out"
                    />
                    Log out
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="grid">
    <div class="last-transactions-box box">
        <div class="heading">
            <span class="title">Transactions</span>
            <div class="actions">
                <icon-button
                    iconName="arrow_out"
                    pathToUrl="/transactions"
                ></icon-button>
                <icon-button
                    iconName="add"
                    pathToUrl="/transaction"
                ></icon-button>
            </div>
        </div>
        <div class="last-transactions">
            @for (transaction of transactions; track $index) {
            <div class="wrapper">
                <transaction-item
                    [transaction]="transaction"
                ></transaction-item>
            </div>
            @if ($index != transactions.length - 1) {
            <div class="seperation"></div>
            } }
        </div>
    </div>
    <div class="analytics-box box">
        <div class="heading">
            <span class="title">Spending analytics</span>
        </div>
        <div echarts [options]="optionPieChart"></div>
    </div>
    <div class="total-spent box">
        <div class="heading">
            <span class="title">Summary</span>
        </div>
        <div class="container">
            <div class="title">
                You spent <span class="red">{{ totalSpent }} CHF</span> and
                received <span class="green">{{ totalRevenue }} CHF</span>,
                making it a total of
                <span
                    [ngClass]="totalRevenue + totalSpent < 0 ? 'red' : 'green'"
                    >{{ round(totalRevenue + totalSpent) }} CHF</span
                >
            </div>
        </div>
        <div echarts [options]="optionBarChart"></div>
    </div>
    <div class="categories-box box">
        <div class="heading">
            <span class="title">Categories</span>
        </div>
        <div class="categories">
            @for (category of categories | async; track $index) {
            <!-- <button  [ngStyle]="{'background-color': category.color, 'color': pickTextColorBasedOnBgColor(category.color)}" class="category">
                    <div class="icon">{{ category.icon }}</div>
                    <div class="name">{{ category.name }}</div>
                </button> -->

            <category-item
                routerLink="category/{{ category.id }}"
                [icon]="category.icon"
                [name]="category.name"
                [color]="category.color"
            ></category-item>
            }
            <button routerLink="/category" class="create-category category">
                <div class="icon">+</div>
                <div class="name">New category</div>
            </button>
        </div>
    </div>
</div>
