<div class="top-bar">
    <div class="filter">
        <date-selection (dateRange)="filterByDate($event)" />
    </div>
    <div (click)="userMenuOpen = !userMenuOpen" (clickOutside)="userMenuOpen = false" class="profile">
        <div class="profile-btn">
            <img
                width="35px"
                height="35px"
                [src]="currentAvatarUrl ? currentAvatarUrl : 'assets/avatar.svg'"
                alt="pp"
            />
        </div>
        <span class="username">{{ user!['username'] }}</span>

        <img class="chevron" src="assets/icons/chevron_down.svg" alt="chevron_down" width="20px" height="20px">
        @if (userMenuOpen) {
            <div class="menu" role="menu">
                <ul>
                    <li routerLink="/settings" class="button list-item">
                        <img
                            width="20px"
                            height="20px"
                            src="assets/icons/cog.svg"
                            alt="cog"
                        />
                        Settings
                    </li>
                    <li class="button list-item">
                        <img
                            width="20px"
                            height="20px"
                            src="assets/icons/moon.svg"
                            alt="moon"
                        />
                        Theme
                    </li>
                    <li class="seperation"></li>
                    <li class="button list-item" (click)="logout()">
                        <img
                            width="20px"
                            height="20px"
                            src="assets/icons/out.svg"
                            alt="out"
                        />
                        Log out
                    </li>
                </ul>
            </div>
        }
    </div>
</div>
<div class="grid">
    <div class="last-transactions-box box">
        <div class="heading">
            <span class="title">Transactions</span>
            <div class="actions">
                <icon-button
                    iconName="arrow_out"
                    pathToUrl="/transactions"
                ></icon-button>
                <icon-button
                    iconName="add"
                    pathToUrl="/transaction"
                ></icon-button>
            </div>
        </div>
        <div class="last-transactions">
            @for (transaction of transactions; track $index) {
            <div class="wrapper">
                <transaction-item
                    [transaction]="transaction"
                    [currency]="userCurrency"
                ></transaction-item>
            </div>
            @if ($index != transactions.length - 1) {
            <div class="seperation"></div>
            } }
        </div>
        @if (!loading && transactions.length <= 0) {
        <span class="small-text center-text padding-text"
            >No transaction to display</span
        >
        }
    </div>
    <div class="analytics-box box">
        <div class="heading">
            <span class="title">Spending analytics</span>
        </div>
        <div echarts [options]="optionPieChart"></div>
    </div>
    <div class="total-spent box">
        <div class="heading">
            <span class="title">Summary</span>
        </div>
        <div class="container">
            <div class="title">
                You spent <span class="red">{{ totalSpent | number }} {{ userCurrency }}</span> and
                received <span class="green">{{ totalRevenue | number }} {{ userCurrency }}</span>,
                making it a total of
                <span
                    [ngClass]="totalRevenue + totalSpent < 0 ? 'red' : 'green'"
                    >{{ round(totalRevenue + totalSpent) }} {{ userCurrency }}</span
                >
            </div>
        </div>
        <div echarts [options]="optionBarChart"></div>
    </div>
    <div class="categories-box box">
        <div class="heading">
            <span class="title">Categories</span>
        </div>
        <div class="categories">
            @for (category of categories | async; track $index) {
            <!-- <button  [ngStyle]="{'background-color': category.color, 'color': pickTextColorBasedOnBgColor(category.color)}" class="category">
                    <div class="icon">{{ category.icon }}</div>
                    <div class="name">{{ category.name }}</div>
                </button> -->

            <category-item
                routerLink="category/{{ category.id }}"
                [icon]="category.icon"
                [name]="category.name"
                [color]="category.color"
            ></category-item>
            }
            <button routerLink="/category" class="create-category category">
                <div class="icon">+</div>
                <div class="name">New category</div>
            </button>
        </div>
    </div>
    <div class="accounts-box box">
        <div class="heading">
            <span class="title">Accounts</span>
            <div class="actions">
                <icon-button
                    iconName="add"
                    pathToUrl="/account"
                ></icon-button>
            </div>
        </div>
        <div class="net-worth">
            <span class="title">Total net worth</span>
            <span class="amount">{{ calculateTotalNetWorth() }} {{ userCurrency }}</span>
        </div>
        <div class="accounts">
            @for (account of accounts; track $index) {
                <div routerLink="/account/{{ account.id }}" class="account">
                    <div class="name-and-icon">
                        <div class="icon">
                            <img src="assets/category_icons/{{ account.icon }}.fill.svg" alt="icon">
                        </div>
                        {{ account.name }}
                    </div>
                    <span>
                        {{ round(account.amount) }} {{ userCurrency }}
                    </span>
                </div>
            }
        </div>
    </div>
    <div class="projects-box box">
        <div class="heading">
            <span class="title">Projects</span>
        </div>
        <app-projects [accounts]="accounts"></app-projects>
    </div>
</div>
