:host {
    .title {
        font-size: large;
        font-family: "Sentient-Variable";
    }

    .user-info {
        display: flex;
        gap: 15px;

        .profile-picture {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 15px;

            label {
                margin-top: 10px;
                font-size: 14px !important;
            }

            .avatar {
                width: 150px;
                height: 150px;
                border-radius: 50%;
            }

            input[type="file"] {
                display: none;
            }
        }

        .inputs {
            display: flex;
            flex-direction: column;
            gap: 15px;
            width: 100%;

            .save-btn {
                width: fit-content;
                align-self: flex-end;
            }
        }
    }

    .actions {
        margin-top: 15px;
        
        .title {
            margin-bottom: 15px;
        }

        .delete-btn {
            background-color: rgb(224, 68, 68) !important;
            color: white !important;
            box-shadow: none;
        }
    }
}