<default-page goBackPathUrl="/" title="Settings">
    <div class="user-info">
        <div class="title">
            User informations
        </div>
        <div class="profile-picture">
            <img class="avatar" [src]="currentAvatarUrl ? currentAvatarUrl : 'assets/avatar.svg'" alt="">
            <div [formGroup]="avatarFieldGroup">
                <label class="classic-btn" for="file-upload">Upload image</label>
                <input formControlName="avatar" (change)="uploadAvatar($event)" id="file-upload"type="file" accept=".png, .jpg, .jpeg" class="upload">
            </div>
        </div>
        <div class="inputs">
            <form class="inputs" [formGroup]="userInfoFieldGroup">
                <div class="input">
                    <label class="classic-label" for="username">Username</label>
                    <input formControlName="username" class="classic-input" type="text" name="username" id="username" />
                    @if (userInfoFieldGroup.controls.username.invalid) {
                    <span class="field-error">
                        Invalid username (must be between 1 and 24 characters and must contain only a-z, A-Z and underscore)
                    </span>
                    }
                </div>
                <div class="input">
                    <label class="classic-label" for="email">E-mail</label>
                    <input formControlName="email" class="classic-input" type="email" name="email" id="email" />
                    @if (userInfoFieldGroup.controls.email.invalid) {
                        <span class="field-error">
                            Invalid e-mail
                        </span>
                    }
                </div>
                <button [disabled]="userInfoFieldGroup.invalid || userInfoFieldGroup.pristine" (click)="saveUserInfo()" class="classic-btn save-btn">Save changes</button>
            </form>
        </div>
    </div>
    <div class="app-settings">
        <div class="title">Application</div>
        <form [formGroup]="appFields">
            <div class="item fit-content">
                <label class="classic-label" for="currency">Display currency</label>
                <select formControlName="currency" (change)="selectCurrency()" class="classic-input fit-content" name="currency" id="currency">
                    @for (currency of currencyList; track $index) {
                        <option [value]="currency">{{ currency }}</option>
                    }
                </select>
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="title">Actions</div>
        <div class="buttons">
            <button (click)="requestPasswordChange()" class="classic-btn">Request password change</button>
            <button (click)="deleteAccount()" class="classic-btn delete-btn">Delete account</button>
        </div>
    </div>
</default-page>